Source: spark-driver-management
Section: utils
Priority: optional
Maintainer: momen  <momen@deepinos.org>
Build-Depends: debhelper (>= 9),pkg-config, dpkg-dev, qt5-qmake, qtbase5-dev,qttools5-dev-tools
Standards-Version: 1.0.1
Homepage: spark-driver-management

Package: spark-driver-management
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: spark-store
Description: 星火驱动中心